* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fff;
}

.main {
    width: 1200px;
    min-height: 100vh;
    max-width: 100%;
    margin: auto;
    padding-bottom: 20px;
}

.nav {
    display: flex;
    align-items: center;
    height: 48px;
    background-color: #333;
}

.nav__list {
    display: flex;
    list-style: none;
}

.nav__link {
    text-decoration: none;
    color: #fff;
    margin-right: 48px;
}

/* Article */
h1 {
    line-height: 2rem;
}

article {
    padding: 0 16px;
    line-height: 1.6rem;
}

article img {
    width: 640px;
    max-width: 100%;
    display: block;
    margin: 32px auto;
}

/* Mobile vav */
.nav__bars-btn {
    width: 28px;
    height: 28px;
    margin-left: 8px;
    fill: #fff;
    display: none;
    cursor: pointer;
}

.nav__overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    background-color: rgba(0,0,0,0.3);
    animation: fadeIn linear 0.2s;
}

.nav__mobile {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 450px;
    max-width: 100%;
    background-color: #fff;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform linear 0.2s , opacity linear 0.2s;
}

.nav__mobile-list {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    max-height: 100%;
    overflow-y: auto;
    margin-top: 24px;
    list-style: none;
    padding: 16px 0 0 32px;
}

.nav__mobile-link:hover {
    background-color: #f0f0f0;
    color: #292929;
}

.nav__mobile-link{
    text-decoration: none;
    color: #333;
    display: block;
    font-size: 1.4rem;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 20px 0 20px 20px;
    transition: .3s;
}

.nav__mobile-user {
    padding: 32px 45px 32px 50px;
}

.nav__mobile-avatar {
    border-radius: 50%;
    height: 96px;
    width: 96px;
}

.nav__mobile-fullname {
    font-size: 1.4rem;
    margin: 12px 0 0;
    font-weight: 500;
}

.nav__mobile-close {
    width: 24px;
    height: 24px;
    cursor: pointer;
    color: #666;
    position: absolute;
    top: 0.4rem;
    right: 1rem;
}

.nav-input:checked ~ .nav__overlay {
    display: block;
}

.nav-input:checked ~ .nav__mobile {
    transform: translateX(0%);
    opacity: 1;
}

@media (max-width: 1023px) {
    .nav__bars-btn {
        display: block;
    }
    .nav__pc {
        display: none;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}