@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600&display=swap');

:root {
    --header-height: 70px;

    --background-color: #f7f9fa;
    --primary-color: #2c31cf;
    --text-color: #3b3c54;
    --important-color: #e8505b;
}

* {
    box-sizing: inherit;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.4rem;
}

.mb-8 {
    margin-bottom: 8px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mt-8 {
    margin-top: 8px;
}

.mt-12 {
    margin-top: 12px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-24 {
    margin-top: 24px;
}

.mr-12 {
    margin-right: 12px;
}

.mr-4 {
    margin-right: 4px;
}

.mr-8 {
    margin-right: 8px;
}

.text-left {
    text-align: left!important;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Mulish', sans-serif;
}

.is-flex {
    display: flex;
    align-items: center;
}