<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConsumerKey" value="2yeyhTAMl3Euzc2aXSlOA" />
    <add key="ConsumerSecret" value="8yXVBamNBfd82hSbCbBNWPQvto0cjgqVjYuBbLXm0" />
    <add key="AccessToken" value="145713156-XGIgObGPcmjbliXksbY5RUO7BnqLPzqwje62Szu5" />
    <add key="AccessTokenSecret" value="YN3Okot0NhCIpt7tQzT7K5YKM9ESR4FQpmZJr0J8tEU" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>