@charset "utf-8";
body,td,th {
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	color: #333;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
a {
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	color: #333;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #333;
}
a:hover {
	text-decoration: none;
	color: #F00;
}
a:active {
	text-decoration: none;
}
img{
	border:0 none;}
.site {
	background:url(../images/bgsite.jpg) no-repeat top center;
}
.site.home{
	background:url(../images/bgsite2.jpg) no-repeat top center;
}
.container{
	width:1000px;
	margin:auto;
}
.top{
	height:219px;
	display:block;
	overflow:hidden;
position: relative;
}
.logo{
	position: absolute;
	top: 40px;
	left: 55px;
	}
.menu a{

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,131313+100 */
background: #4c4c4c; /* Old browsers */
background: -moz-linear-gradient(top,  #4c4c4c 0%, #131313 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #4c4c4c 0%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #4c4c4c 0%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */

	display:block;
	height:35px;
	line-height:35px;
	font-weight:bold;
	color:#fff !important;
	text-transform:uppercase;
	float:left;
	padding:0 15px;
	margin-left:1px;
	text-decoration:none;
	
	}
.menu a:hover, .menu a.active{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b91015+1,7b0002+100 */
background: #b91015; /* Old browsers */
background: -moz-linear-gradient(top,  #b91015 1%, #7b0002 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #b91015 1%,#7b0002 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #b91015 1%,#7b0002 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b91015', endColorstr='#7b0002',GradientType=0 ); /* IE6-9 */
	color:#fff !important;

	}
.menu{
position: absolute;
top: 184px;
right: 0;}
.flashbanner{
	background-image:url(../images/bgflashbanner.jpg);
	background-repeat:repeat-x;
	display:block;
	height:250px;
	overflow:hidden;
	margin-bottom:10px;}
.midle{
	padding:20px 0;
}
.site.home .midle{
	padding: 0;
}
.site.home .menu{
	height: 183px;
}

.rightbanner{
	float:right;
	background-color:#fff;
	width:720px;
	height:250px;
	overflow:hidden;
	display:block;
	text-align:center;
	margin-right:10px;
	*margin-right:5px;}
.leftbanner{
	width:270px;
	float:left;
	display:inline;
	color:#fff;}
.padleft{
	padding:20px;}
h3{
	font-size:19px;
	font-weight:bold;
	margin:0px;
	padding-bottom:10px;
	border-bottom:dotted 1px #fff;}
.norB{
	font-weight:bold;}
.leftbanner p{
	line-height:16px;
	margin:0px;
	padding:5px 0;}
.more a{
	color:#fff !important;}
.language{
	float:right;
	width:51px;
	padding-top:10px;
}
.language a{
	margin-left:3px;}
.left{
	float:left;
	width:220px;
	display:inline;}
.tab{
	color:#b0192c;
	font-size: 18px;
	font-weight:bold;
	padding: 10px ;
	letter-spacing: -1px;
	text-transform: uppercase;
	border-bottom:solid 1px #fff;
}
.tab a{
	color:#b0192c !important;
	font-weight:bold;
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: -1px;
}
.tab span{
	padding-left:0px;}
.blockcontent{
	padding:5px 0;}
ul{
	margin:0px;
	padding:0px;}
li{
	float:left;
	display:inline;}
.list_support li{
	width:100%;
	padding: 5px 10px;
}
.list_support li img{
	float:left;
	margin-right:6px;}
.list_news a{
	background-position:10px 15px;
	padding:10px;
	display:block;
}
.list_news a:hover{
	background: #fff;
}
.blockleft{
	margin-bottom:10px;
	background: #f2f2f2
}
.pad{
	padding:0px !Important;
	border:0 none;
	border-right:solid 1px #b9c1cb !important;}
.list_exchange li{
	width:81px;
	padding-top:5px;
	padding-bottom:5px;
	text-align:center;
	border-bottom:solid 1px #b9c1cb;
	border-right:solid 1px #b9c1cb;
	border-left:solid 1px #b9c1cb;
	}
.bgg{
	background-color:#e2e2e2;
	font-weight:bold;
}
.right{
	width:200px;
	display:inline;
	float:right;
}
.center{
	width:560px;
	display:inline;
	float:left;
	margin:  0 10px;
}

.morenew{
	padding:8px;
	text-align:right;}
.tabright{
	border-bottom:solid 2px #b0192c;
	display:block;
	height:30px;
	overflow:hidden;}
.tabright span{
	font-weight:bold !important;
	display:block;
	text-transform:uppercase;
	font-family:Tahoma, Geneva, sans-serif;
	color:#fff;
	font-size:12px;
	float:left;
	padding: 0 15px;
	background: #b0192c;
	height: 30px;
	line-height: 30px;
}
.submenu_right{
	padding:10px 0px;}
.submenu_right a{
	font-weight:bold;
	padding: 5px 10px;
}
.submenu_right a.active, .submenu_right a:hover{
	color:#fff;
background: #b0192c;
text-decoration: none;
}
.listitem{
	padding: 10px 0;
}
.listitem li{
	width:160px;
	padding:10px;
	text-align:center;
	border: solid 1px #fff
}
.listitem li:hover{
	border: solid 1px #d7d7d7
}
.listitem img{
	display:block;
	margin-bottom:6px;
width: 100%;}
.listitem a{
	font-weight:bold;
	display: block;	
}
 a.btn-buy{
	border: solid 1px #b0192c;
	padding: 5px;
	display: inline-block;
	margin-top: 10px;	
	border-radius:5px;
	-webkit-border-radius:5px;
	color: #b0192c;
	font-weight: bold;
	
}
 a.btn-buy:hover{
	background: #b0192c;
	color: 	#fff;
}
.detailtbuild a.btn-buy{
	font-size: 16px;
	padding: 5px 10px;
}
.blockright{
	padding-bottom:10px;}
.bottom{
	background-color:#000;}
.footer{
	width:1000px;
	margin:auto;
	color:#fff;}
.padfooter{
	padding:10px;}
.footer p{
	margin:0px;
	color:#F00;
	padding:0 0 8px 0;}
.footer span{
	color:#F00;}
.rightfooter{
	float:right;
	width:200px;}
.rightfooter p{
	color:#fff;}
.rightfooter img{
	float:left;
	margin-right:10px;}
.submenu{
	width:150px;
	display:block;
	background-image:url(../images/bgsubmenu.gif);
	background-repeat:repeat-x;
	background-position:top left;
	background-color:#b50e13;
	-moz-box-shadow: 5px 5px 5px #000;
	-webkit-box-shadow: 5px 5px 5px #000;
	box-shadow: 5px 5px 5px #000;}
.submenu a{
	display:block;
	padding:6px 10px;
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:bold;
	color:#fff !important;}
.submenu a:hover{
	background-color:#000;
	text-decoration:none;}
.padmenu{
	padding:8px 0;}
.listcate a{
	display:block;
	padding:0 0 0 30px;
	height: 35px;
	line-height: 35px;
	background-image:url(../images/bull_h.gif);
	background-repeat:no-repeat;
	background-position:12px 12px;
	font-weight:bold;
	text-decoration:none;}
.listcate a:hover, .listcate a.active{
	background-color:#fff;
	background-image:url(../images/bull2.gif);
	color:#F00;
}
.bgcate{
	background-color:#ececec;
	padding:10px 0 0 0 !important;}
.guide{
	padding-bottom:8px;}
.contentright{
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;}
.listbuild li{
	width:33.3333%;
	padding:10px;
	display: inline-block;
	text-align:center;
-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;}
.listbuild img{
width: 100%;}
.listbuild a{
	font-weight:bold;
	display:block;
	padding-bottom:8px;
}
.detailtbuild{
	padding-top:20px;
	padding-bottom:20px;}
.imgfloat{
	float:left;
	margin-right:10px;
	max-width:560px;
	}
.titbuild{
	font-size:18px;}
.otherbuild{
	margin-top:20px;
	padding-top:20px;
	border-top: dotted 1px #ccc;
text-align: center;
}
.otherbuild a{
	display: inline-block;
	margin: 10px;
	}
.mt10{
	margin-top:10px;}
.pages{
	padding-top:10px;
	padding-bottom:10px;
	margin:auto;}
.pages a{
	display:block;
	padding:8px 10px;
	float:right;
	margin-left:8px;
	text-decoration:none;
	border:solid 1px #f2f2f2;}
.pages a:hover{
	background-color:#f00;
	color:#fff;
}
.contact{
	padding-bottom:10px;
	padding-top:10px;}
.contact img{
	float:right;
	border:solid 1px #ccc;}
.contact h2{
	margin:0px;
	padding:0 0 5px 0;}
.formcontact{
	width:500px;
	float:left;
	padding-top:15px;
	margin-top:5px;
	border-top: dotted 1px #ccc;}
.l1{
	width:120px;}
.l2{
	width:370px;}
.formcontact li{
	padding-bottom:6px;}
.formcontact li input{
	width:300px;
	border:solid 1px #c7c7c7;
	margin:0px;
	line-height:20px;
	height:20px;}
.formcontact textarea{
	height:100px;
	border:solid 1px #c7c7c7;
	width:295px;
	font-family:Arial, Helvetica, sans-serif;
	margin:0px;
}
a.btn{
	background-image:url(../images/bgmenu.jpg);
	background-repeat:repeat-x;
	height:28px;
	color:#fff !important;
	font-weight:bold;
	font-family:Tahoma, Geneva, sans-serif;
	padding-left:15px;
	padding-right:15px;
	float:left;
	display:block;
	line-height:28px;
	margin-right:10px;
	border:solid 1px #ccc;
	text-decoration:none;
}
a.btn:hover{
	background-image:url(../images/bgmenuhover.jpg);
	border:solid 1px #ccc;
	background-repeat:repeat-x;
	height:28px;
	color:#000;
	font-weight:bold;
	font-family:Tahoma, Geneva, sans-serif;
	padding-left:15px;
	padding-right:15px;
	float:left;
	display:block;
	line-height:28px;
	margin-right:10px;
}
.sitemap{
	padding-top:20px;
	padding-bottom:20px;}
.sitemap h2{
	background-image:url(../images/bgmenu.jpg);
	background-repeat:repeat-x;
	line-height:28px;
	color:#fff;
	margin:0px;
	font-size:12px;
	font-weight:bold;
	padding:0 0 5px 10px;
	margin-right:3px;}
.sitemap li{
	width:12%;
	}
.listsitemap{
	background-image:url(../images/vline.gif);
	background-repeat:repeat-y;
	background-position:top left;
	padding-left:5px;}
.listsitemap a{
	display:block;
	background-image:url(../images/hline.gif);
	background-repeat:no-repeat;
	background-position:0px 9px;
	padding-left:10px;
	padding-top:4px;
	padding-bottom:4px;
	background-color:#FFF;
}
.listfeed a{
	display:block;
	line-height:18px;
	padding-top:3px;
	padding-bottom:3px;
	font-weight:bold;
	color:#F00;}
.intro{
	background-image:url(../images/bgintro.jpg);
	background-repeat:no-repeat;
	background-position:top center;
	padding-top:50px;}
.flash{
	width:750px;
	height:450px;
	display:block;
	margin:auto;
	overflow:hidden;
}
.endintro{
	margin:auto;
	text-align:center;

}
.footer_intro{
	width:750px;
	margin:auto;
	text-align:center;
	padding-top:30px;
	padding-bottom:40px;}
.share{
	padding-top:8px;
	padding-bottom:8px;
	border-bottom:dotted 1px #ccc;
	border-top:dotted 1px #ccc;}
.titcomment img{
	float:left;
	margin-right:8px;
}
.titcomment{
	font-weight:bold;
	line-height:24px;
	padding-bottom:10px;}
.c1{
	width:300px;
	border:solid 1px #c7c7c7;
	line-height:20px;
	height:20px;}
.c2{
	width:150px;
	border:solid 1px #c7c7c7;
	line-height:20px;
	height:20px;}
.comment{
	padding:10px;
	background-color:#f2f2f2;
	border:solid 1px #d4d4d4;
	margin-top:10px;
}

.comment li{
	padding-bottom:8px;}
.comment textarea{
	height:150px;
	width:450px;
	border:solid 1px #c7c7c7;
	margin-bottom:10px;
	font-family:Arial, Helvetica, sans-serif;}
.listcomment{
	padding-top:10px;
	padding-bottom:10px;}
.blockcomment{
	border-bottom:solid 1px #ccc;
	padding-top:8px;}
.hot-item{
	text-align: center;
	display: block;		
}
.hot-item p{
	background: #fff;
	margin: 0;
	padding: 10px 0;
}
.list_support p{
	margin: 0;
	padding: 0 0 5px 0;
	position: relative;
	

}
.list_support p.name{
	font-weight: bold;
	
}
.list_support p.mobile{
	color: #de0000;
	font-weight: bold;
	font-size: 15px;
	padding-left: 20px;
}
.list_support p.mail{
	padding-left: 20px;
}
.list_support p.mobile:before{
	background: url(../images/icon.png) no-repeat -14px 0;
	width: 14px;
	height: 16px;
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	content: '';
}
.list_support p.mail:before{
	background: url(../images/icon.png) no-repeat -28px 0;
	width: 14px;
	height: 16px;
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	content: '';
}
.pricelist{
	padding: 5px 10px;
}
.pricelist a{
	display: block;
	position: relative;
	padding: 3px 0 3px 20px;
	line-height: 28px;
	border-bottom:solid 1px #fff;
}
.pricelist a:last-child{
	border: none;
}
.pricelist a:before{
	background: url(../images/icon.png) no-repeat 0px 0;
	width: 14px;
	height: 16px;
	display: inline-block;
	position: absolute;
	top: 8px;
	left: 0;
	content: '';
}
.info-item{
	clear: both;
	
}
.info-item h3{
	margin: 10px 0 0 0;
	padding: 0;
}
.contact img.imgfloat {
    float: left;
    border:none;
}