@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

/* main {
    overflow: hidden;
    width: 100%;
    height: 100%;
} */

body {
    background-image: url(./mountain.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    width: 80%;
    height: 80%;
    padding: 100px 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}

.container:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right, #8c5d9d, #02718e);
    opacity: 0.7;
    z-index: -1;
    border-radius:4px;
}

.container-heading h1{
    font-size: 50px;
    color: #fff;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.container-heading p{
    font-size: 20px;
    color: #fff;
    letter-spacing: 2px;
    margin-top: 12px;
    text-transform: capitalize;

}

.countdown-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    /* position: absolute;
    bottom: 100px;
    right: 80px; */
    margin-top: 2rem;
}

.countdown-box {
    width: 8rem;
    height: 4rem;
    background-color: #fff;
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items:center;
    border-radius: 4px;
    padding: 12px;
    color: #fff;
    font-size: 20px;
    transition: all 0.3s;
}

.days-c.countdown-box {
    height: 8rem;
    background-color: #00c4e8;
    box-shadow: 0 0 10px #00c4e8;
}
.hours-c.countdown-box {
    height: 11.5rem;
    background-color: #f86bcf;
    box-shadow: 0 0 10px #f86bcf;

}
.min-c.countdown-box {
    height: 14rem;
    background-color: #00d1ab;
    box-shadow: 0 0 10px #00d1ab;

}
.sec-c.countdown-box {
    height: 12.5rem;
    background-color: #f19539; 
    box-shadow: 0 0 10px #f19539;

}

.big-text {
    margin-bottom: 0.8rem;
    font-size: 50px;
}

@media (max-width: 46.75rem) {
    .container {
        padding: 30px 40px;
        text-align: center;
        justify-content: space-evenly;
    }

    .container-heading h1 {
        font-size: 30px;
    }
    
    .countdown-box {
        width: 21%;
        
    }
    
    .big-text {
        font-size: 20px;
    }

    .countdown-box {
        margin-left: 0;
    }

    .countdown-box span {
        font-size: 14px;
    }

    .countdown-container {
        justify-content: space-between;
    }

    .days-c.countdown-box {
        height: 6rem;
        
    }
    .hours-c.countdown-box {
        height: 7.5rem;
        
    
    }
    .min-c.countdown-box {
        height: 9rem;
        
    
    }
    .sec-c.countdown-box {
        height: 8.5rem;
        
    }
} 